<%- include('../layouts/adminHeader.ejs') %>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Edit Coupon</h2>
    </div>
    <div>
      <input
        type="text"
        placeholder="Search Categories"
        class="form-control bg-white"
      />
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <form action="/admin/editCoupon" method="post">
            <input type="hidden" name="id" value="<%= coupon._id %>" />
            <div class="mb-4">
              <label for="code" class="form-label">Code</label>
              <input
                type="text"
                id="code"
                placeholder="Code"
                class="form-control"
                value="<%=coupon.code  %>"
                name="code"
              />
            </div>
            <div class="mb-4">
              <label class="form-label">Description</label>
              <textarea
                placeholder="Description"
                class="form-control"
                name="description"
              >
<%=coupon.description %>
</textarea
              >
            </div>
            <div class="mb-4">
              <label for="code" class="form-label">Percentage</label>
              <input
                type="number"
                id="percentage"
                placeholder="Percecentage"
                class="form-control"
                value="<%=coupon.percentage  %>"
                name="percentage"
              />
            </div>
            <div class="mb-4">
              <label for="code" class="form-label">Applicable Limit</label>
              <input
                type="number"
                id="applicableLimit"
                placeholder="Applicable Limit"
                class="form-control"
                min="0"
                value="<%=coupon.applicableLimit  %>"
                name="applicableLimit"
              />
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-md-4"></div>

        <!-- .col// -->
      </div>
      <!-- .row // -->
    </div>
    <!-- card body .// -->
  </div>
  <!-- card .// -->
</section>
<!-- content-main end// -->
<%- include('../layouts/adminFooter.ejs') %>
<script>
  let code = document.getElementById("code");
  code.addEventListener("input", () => {
    if (code.value.trim() == "") {
      code.setCustomValidity("Field must be filled out");
    } else {
      code.setCustomValidity("");
    }
  });
</script>
