<%- include('../layouts/adminHeader.ejs') %>
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Order List</h2>
        <p>Orders from the very begining.</p>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table id="myTable" class="table table-hover">
            <thead>
              <tr>
                <th>Order ID</th>
                <th scope="col">Date</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Ordered Items</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <% for(let order of orders){ %>
                <tr id="orderId">
                  <td>
                    <%= order._id%>
                  </td>
                  <td>
                    <%= order.date %>
                  </td>
                  <td>
                    <%= order.paymentMethod %>
                  </td>
                  <td><a href="/admin/viewOrdered?id=<%= order._id%>">View Details</a></td>
                  <td>
                    <select onchange="orderStatus(this.value, '<%= order._id %>')" class="form-select statusSelector"
                      name="statusSelector" id="statusSelector<%= order._id %>">
                      <option value="Canceled" <% if(order.orderStatus==='Canceled' ){ %>selected<% } %>>Canceled
                      </option>
                      <option value="Placed" <% if(order.orderStatus==='Placed' ){ %>selected<% } %>>Placed</option>
                      <option value="Pending" <% if(order.orderStatus==='Pending' ){ %>selected<% } %>>Pending</option>
                      <option value="Delivered" <% if(order.orderStatus==='Delivered' ){ %>selected<% } %>>Delivered
                      </option>
                      <option value="Dispatched" <% if(order.orderStatus==='Dispatched' ){ %>selected<% } %>>Dispatched
                      </option>
                      <option value="Returned" <% if(order.orderStatus==='Returned' ){ %>selected<% } %>>Returned
                      </option>
                    </select>
                  </td>
                  <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <%- include('../layouts/adminFooter.ejs') %>
    <script>
      const orderStatus = async (status, orderId) => {
        try {
          const updatedStatus = await axios.patch('/admin/changeStatus', { status, orderId })
          if (updatedStatus.data.success) {
            document.getElementById(`statusSelector${orderId}`).value = status;
            if (status === 'Canceled') {
              document.getElementById(`btnhide${orderId}`).style.display = 'none'
            } else {
              document.getElementById(`btnhide${orderId}`).addEventListener('click', updatedStatus)
            }
          }
        } catch (error) {
          console.error('Seem like there is an erro in the orders list')
        }
      }
    </script>
    <script>
      $(document).ready(function () {
        $("#myTable").DataTable();
      });
    </script>