<%- include('../layouts/adminHeader.ejs') %>
<div class="container">
  <h1 class="mt-5">Sales Report</h1>
  <button
    type="button"
    onclick="printDiv('printThisDiv')"
    class="btn btn-primary mt-3"
  >
    Print
  </button>
  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="startDatePicker">Select start date:</label>
        <input
          type="date"
          id="startDatePicker"
          class="form-control"
          min="<%= firstOrder %>"
          max="<%= lastOrder %>"
          onchange="selectedDate()"
          required
        />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="endDatePicker">Select end date:</label>
        <input
          type="date"
          id="endDatePicker"
          class="form-control"
          min="<%= firstOrder %>"
          max="<%= lastOrder %>"
          onchange="selectedDate()"
          required
        />
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div id="reportContainer">
        <div id="printThisDiv">
          <table class="table table-striped">
            <thead class="thead-dark" id="reportHeader">
              <tr class="text-center">
                <th>Email</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Order ID</th>
                <th>Date</th>
                <th>Payment Method</th>
                <th>Grand Total</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody id="reportBody">
              <% salesReport.forEach(element => {%>
              <tr>
                <td><%= element.user.email%></td>
                <td><%= element.user.phone_number%></td>
                <td><%= element.address%></td>
                <td><%= element._id%></td>
                <td><%= element.date%></td>
                <td><%= element.paymentMethod%></td>
                <td><%= element.grandTotal%></td>
                <td><%= element.orderStatus%></td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../layouts/adminFooter.ejs') %>
<script>
  const selectedDate = async () => {
    try {
      let startDate = document.getElementById("startDatePicker").value;
      let endDate = document.getElementById("endDatePicker").value;
      if (!startDate || !endDate) {
        Toastify({
          text: "Please select both start and end dates",
          duration: 3000,
          position: "center",
          style: {
            background: "#FFFFFF",
            color: "#384aeb",
          },
        }).showToast();
        return false;
      }
      let startDateObj = new Date(startDate);
      let endDateObj = new Date(endDate);
      if (startDateObj > endDateObj) {
        Toastify({
          text: "Start date cannot be greater than end date",
          duration: 3000,
          position: "center",
          style: {
            background: "#FFFFFF",
            color: "#384aeb",
          },
        }).showToast();
        return false;
      }
      const today = new Date();
      if (endDateObj > today) {
        Toastify({
          text: "End date cannot be in the future",
          duration: 3000,
          position: "center",
          style: {
            background: "#FFFFFF",
            color: "#384aeb",
          },
        }).showToast();
        return false;
      }
      const response = await axios.post("/admin/salesReport", {
        startDate,
        endDate,
      });
      const salesReport = response.data.selectedDate;
      console.log(salesReport);
      const reportBody = document.getElementById("reportBody");
      reportBody.innerHTML = salesReport
        .map(
          (element) => `
        <tr>
          <td>${element.user[0].email}</td>
          <td>${element.user[0].phone_number}</td>
          <td>${element.address}</td>
          <td>${element._id}</td>
          <td>${element.date}</td>
          <td>${element.paymentMethod}</td>
          <td>${element.grandTotal}</td>
          <td>${element.orderStatus}</td>
        </tr>
      `
        )
        .join("");
      const tableHeader = `
        <tr>
                <th>Email</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Order ID</th>
                <th>Date</th>
                <th>Payment Method</th>
                <th>Grand Total</th>
                <th>Status</th>
        </tr>
      `;
      const reportHeader = document.getElementById("reportHeader");
      reportHeader.innerHTML = tableHeader;
    } catch (error) {
      console.log(error.message);
    }
  };
</script>
<script>
  function printDiv(divName) {
    const printContents = document.getElementById(divName).innerHTML;
    const originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
  }
</script>
