<%- include('../layouts/adminHeader.ejs') %>
<section class="content-main">
  <div class="content-header">
    <h2 class="content-title">Users list</h2>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <!-- <div class="row gx-3">
              <div class="col-lg-4 col-md-6 me-auto">
                <input
                  type="text"
                  placeholder="Search..."
                  class="form-control"
                />
              </div>
              <div class="col-lg-2 col-md-3 col-6">
                <select class="form-select">
                  <option>Status</option>
                  <option>Verified</option>
                  <option>Disabled</option>
                  <option>Show all</option>
                </select>
              </div>
              <div class="col-lg-2 col-md-3 col-6">
                <select class="form-select">
                  <option>Show 20</option>
                  <option>Show 30</option>
                  <option>Show 40</option>
                </select>
              </div>
            </div> -->
    </header>
    <!-- card-header end// -->
    <div class="card-body">
      <div class="table-responsive">
        <table id="myTable" class="table table-hover text-center">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Email Verified</th>
              <th>Mobile</th>
              <th>Block / Unblock</th>
            </tr>
          </thead>
          <tbody>
            <% if (users && users.length > 0) { for (let i = 0; i <
            users.length; i++) { %>
            <tr>
              <td width="25%">
                <div class="info pl-3">
                  <h6 class="mb-0 title">
                    <%= users[i].first_name %> <%= users[i].last_name %>
                  </h6>
                </div>
              </td>
              <td><%= users[i].email %></td>
              <td>
                <span class="badge rounded-pill alert-success"
                  ><%= users[i].verified %></span
                >
              </td>
              <td><%= users[i].phone_number %></td>
              <%if(users[i].blocked===false){%>
              <td>
                <a
                  href="/admin/usersBlocked?id=<%= users[i]._id %>"
                  class="btn btn-sm btn-danger rounded font-sm mt-15"
                  >Block</a
                >
              </td>
              <%}else{%>
              <td>
                <a
                  href="/admin/usersBlocked?id=<%= users[i]._id %>"
                  class="btn btn-sm btn-brand rounded font-sm mt-15"
                  >Unblock</a
                >
              </td>
              <% }%>
            </tr>
            <% } } else { %>
            <tr>
              <td colspan="5">Users Not Found</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<%- include('../layouts/adminFooter.ejs') %>
<script>
  $(document).ready(function () {
    $("#myTable").DataTable();
  });
</script>
