<%- include('../layouts/header.ejs') %>
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Products</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <% if ( products ) {%> <%for (let product of products.items){ %>
            <tr id="<%=product.product_Id._id %>">
              <td>
                <div class="media">
                  <div class="d-flex">
                    <img src="/images/<%= product.product_Id.image %>" alt="" />
                  </div>
                  <div class="media-body">
                    <p><%= product.product_Id.description %></p>
                  </div>
                </div>
              </td>
              <td>
                <h5><%= product.product_Id.price %></h5>
              </td>

              <td>
                <button
                  id="decrement"
                  onclick="count('<%= product.product_Id._id %>','<%= userId %>',-1)"
                >
                  -
                </button>
                <input
                  class="text-center"
                  style="width: 60px"
                  id="inputCount<%=product.product_Id._id %>"
                  type="text"
                  min="1"
                  value="<%= product.quantity %>"
                  readonly
                />
                <button
                  id="increment"
                  onclick="count('<%= product.product_Id._id %>','<%= userId %>',1)"
                >
                  +
                </button>
              </td>
              <td>
                <h5><%= product.product_Id.price * product.quantity %></h5>
              </td>
              <td>
                <button
                  class="btn-sm btn btn-danger"
                  onclick="deleteFromCart('<%= product.product_Id._id %>')"
                >
                  Remove
                </button>
              </td>
            </tr>
            <% }%> <%} else { %>

            <h5 class="text-center">Empty Cart List</h5>

            <% } %>
            <tr class="out_button_area">
              <td class="d-none-l"></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="checkout_btn_inner d-flex align-items-center">
                  <a class="gray_btn" href="/">Continue Shopping</a>
                  <a class="primary-btn ml-2" href="/placeOrder">Place Order</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--================End Cart Area =================-->

<!--================ Start footer Area  =================-->
<footer>
  <div class="footer-area footer-only">
    <div class="container">
      <div class="row section_gap">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title large_title">Our Mission</h4>
            <p>
              So seed seed green that winged cattle in. Gathering thing made fly
              you're no divided deep moved us lan Gathering thing us land years
              living.
            </p>
            <p>
              So seed seed green that winged cattle in. Gathering thing made fly
              you're no divided deep moved
            </p>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Quick Links</h4>
            <ul class="list">
              <li><a href="#">Home</a></li>
              <li><a href="#">Shop</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Product</a></li>
              <li><a href="#">Brand</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget instafeed">
            <h4 class="footer_title">Gallery</h4>
            <ul class="list instafeed d-flex flex-wrap">
              <li><img src="img/gallery/r1.jpg" alt="" /></li>
              <li><img src="img/gallery/r2.jpg" alt="" /></li>
              <li><img src="img/gallery/r3.jpg" alt="" /></li>
              <li><img src="img/gallery/r5.jpg" alt="" /></li>
              <li><img src="img/gallery/r7.jpg" alt="" /></li>
              <li><img src="img/gallery/r8.jpg" alt="" /></li>
            </ul>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Contact Us</h4>
            <div class="ml-40">
              <p class="sm-head">
                <span class="fa fa-location-arrow"></span>
                Head Office
              </p>
              <p>123, Main Street, Your City</p>

              <p class="sm-head">
                <span class="fa fa-phone"></span>
                Phone Number
              </p>
              <p>
                +123 456 7890 <br />
                +123 456 7890
              </p>

              <p class="sm-head">
                <span class="fa fa-envelope"></span>
                Email
              </p>
              <p>
                free@infoexample.com <br />
                www.infoexample.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row d-flex">
        <p class="col-lg-12 footer-text text-center">
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const deleteFromCart = async (product_Id) => {
    let deletedItem = await axios.put("/cart", { product_Id });
    if (deletedItem) {
      document.getElementById(product_Id).style.display = "none";
    }
    return deletedItem;
  };
  const count = async (product_Id, userId, count) => {
    let input = document.getElementById(`inputCount${product_Id}`).value;
    if (input > 1 && count === -1) {
      let updatedCount = await axios.post("/cartCount", {
        product_Id,
        userId,
        count,
      });
      if (updatedCount.data.message)
        document.getElementById(`inputCount${product_Id}`).value = --input;
    } else if (input >= 1 && count === 1) {
      let updatedCount = await axios.post("/cartCount", {
        product_Id,
        userId,
        count,
      });
      if (updatedCount.data.message)
        document.getElementById(`inputCount${product_Id}`).value = ++input;
    }
    return true;
  };
</script>
<%- include('../layouts/footer.ejs') %>
