<%- include('../layouts/header.ejs') %>
<section class="cart_area">
  <div class="container">
    <%if(!products || !products?.items?.length>0){%>
    <div class="text-center">
      <img
        src="/images/empty.jpg"
        class="img-fluid"
        style="height: 30rem"
        alt="empty"
      />
    </div>
    <%}else {%>
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table" id="table">
          <thead>
            <tr>
              <th scope="col">Products</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <% if ( products ) {%> <%for (let product of products.items){ %>
            <tr id="<%= product.product_Id._id %>">
              <td>
                <div class="media">
                  <div class="d-flex align-items-center">
                    <img
                      src="/images/<%= product.product_Id.image[0] %>"
                      alt=""
                    />
                  </div>
                  <div class="media-body">
                    <p><%= product.product_Id.description %></p>
                  </div>
                </div>
              </td>
              <td>
                <h5 class="product-price"><%= product.product_Id.price %></h5>
              </td>

              <td>
                <div class="quantity">
                  <button
                    class="btn btn-decrement"
                    onclick="count('<%= product.product_Id._id %>','<%= userId %>',-1)"
                  >
                    -
                  </button>
                  <input
                    class="text-center"
                    style="width: 60px"
                    id="inputCount<%=product.product_Id._id %>"
                    type="text"
                    min="1"
                    value="<%= product.quantity %>"
                    readonly
                  />
                  <button
                    class="btn btn-increment"
                    onclick="count('<%= product.product_Id._id %>','<%= userId %>',1)"
                  >
                    +
                  </button>
                </div>
              </td>
              <td>
                <h5 id="productPrice<%= product.product_Id._id %>">
                  <%= product.product_Id.price * product.quantity %>
                </h5>
              </td>
              <td>
                <button
                  class="btn-sm btn btn-danger"
                  onclick="deleteFromCart('<%= product.product_Id._id %>')"
                >
                  Remove
                </button>
              </td>
            </tr>
            <% }%> <%} else { %>

            <h5 class="text-center">Empty Cart List</h5>

            <% } %> <% if (products && products.items.length > 0) { %>
            <%if(products.items && products.grandTotal>0){ %>
            <tr>
              <td colspan="3"></td>
              <td><h5>Grand Total:</h5></td>
              <td><h5 id="productTotal"><%= products.grandTotal %></h5></td>
            </tr>
            <%}else{%>
            <div class="text-center">
              <img
                src="/images/empty.jpg"
                class="img-fluid"
                style="height: 30rem"
                alt="empty"
              />
            </div>
            <%} %>

            <tr class="out_button_area">
              <td class="d-none-l"></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div
                  class="checkout_btn_inner d-flex align-items-center"
                  id="hideCheckOut"
                >
                  <a class="gray_btn" href="/">Continue Shopping</a>
                  <a class="primary-btn ml-2" href="/placeOrder"
                    >Proceed to checkout</a
                  >
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <%}%>
  </div>
</section>

<%- include('../layouts/footer.ejs') %>
<script>
  const deleteFromCart = async (product_Id) => {
    swal({
      title: "Cancel Order",
      text: "Are you sure you want to cancel this order?",
      icon: "warning",
      buttons: ["Cancel", "OK"],
      dangerMode: true,
    }).then(async (willDelete) => {
      if (willDelete) {
        const deletedItem = await axios.put("/cart", { product_Id });
        document.getElementById("productTotal").innerHTML =
          deletedItem?.data?.total;

        const { cart } = deletedItem.data;

        if (deletedItem) {
          document.getElementById(product_Id).style.display = "none";
          document.getElementById("productTotal").textContent =
            deletedItem.data.total;
          if (cart === 0) {
            const remove = document.getElementById("hideCheckOut");
            remove.parentNode.removeChild(remove);
          }
        }
      }
    });
  };

  const count = async (product_Id, userId, count) => {
    let input = document.getElementById(`inputCount${product_Id}`).value;
    let price = document.getElementById(`productPrice${product_Id}`).innerHTML;
    if (input > 1 && count === -1) {
      let updatedCount = await axios.post("/cartCount", {
        product_Id,
        userId,
        count,
      });
      if (updatedCount.data.message) {
        let priceDec = price / input;
        document.getElementById(`productPrice${product_Id}`).innerHTML =
          +price - priceDec;
        document.getElementById(`inputCount${product_Id}`).value = --input;
        document.getElementById("productTotal").textContent =
          updatedCount.data.total;
      }
    } else if (input >= 1 && count === 1) {
      let updatedCount = await axios.post("/cartCount", {
        product_Id,
        userId,
        count,
      });
      if (updatedCount.data.message) {
        document.getElementById(`productPrice${product_Id}`).innerHTML =
          +price / input + +price;
        document.getElementById(`inputCount${product_Id}`).value = ++input;
        document.getElementById("productTotal").textContent =
          updatedCount.data.total;
      }
    }
    return true;
  };
</script>
