<%- include('../layouts/header.ejs') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-primary">Edit Address</h5>
          <form action="/editAddress" method="POST">
            <div class="form-group">
              <input
                type="hidden"
                class="form-control"
                id="id"
                name="id"
                value="<%= userAddress.address[0]._id %>"
              />
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                value="<%= userAddress.address[0].name %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="housename" class="form-label">House Name</label>
              <input
                type="text"
                class="form-control"
                id="housename"
                name="housename"
                value="<%= userAddress.address[0].housename %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="city" class="form-label">City</label>
              <input
                type="text"
                class="form-control"
                id="city"
                name="city"
                value="<%= userAddress.address[0].city %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="state" class="form-label">State</label>
              <input
                type="text"
                class="form-control"
                id="state"
                name="state"
                value="<%= userAddress.address[0].state %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="phone" class="form-label">Phone</label>
              <input
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                value="<%= userAddress.address[0].phone %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="pincode" class="form-label">PIN Code</label>
              <input
                type="text"
                class="form-control"
                id="pincode"
                name="pincode"
                value="<%= userAddress.address[0].pincode %>"
                required
              />
            </div>

            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../layouts/footer.ejs') %>
