<%- include('../layouts/header.ejs') %>

<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Orders</h5>
            <hr />
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead class="thead-light">
                  <tr>
                    <th>Order ID</th>
                    <th>Address</th>
                    <th>Payment Method</th>
                    <th>Order Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <%if(orders){%> <% for (let order of orders) { %>
                  <tr id="ordertable-<%= order._id %>">
                    <td><%= order._id %></td>
                    <td><%= order.address %></td>
                    <td><%= order.paymentMethod %></td>
                    <td id="status"><%= order.orderStatus %></td>

                    <td class="cancel">
                      <% if(order.orderStatus !== "Cancelled" ){ %>
                      <button
                        class="btn btn-danger"
                        onclick="cancelOrder('<%= order._id %>')"
                      >
                        Cancel
                      </button>

                      <% }%>
                      <span id="delete" style="display: none"
                        >order has been removed</span
                      >
                    </td>
                  </tr>
                  <% }}else{ %>
                  <h6>There is no order in the list</h6>
                  <%}%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const cancelOrder = async (orderId) => {
    const cancelItem = await axios.patch("/orders", { orderId });
    if (cancelItem.data.message) {
      document.getElementById("status").textContent = cancelItem.data.status;
      const remove = document
        .getElementById(`ordertable-${orderId}`)
        .querySelector(".cancel");
      remove.parentNode.removeChild(remove);
    }
  };
</script>
