<%- include('../layouts/header.ejs') %>

<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Order Successfully Placed</h5>
            <hr />
            <p>
              Your order has been successfully placed. Thank you for your
              purchase!
            </p>

            <h5 class="card-title">Transaction Details</h5>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Order ID:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= order._id %></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Date:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= order.date %></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Total Amount:</p>
              </div>
              <div class="col-sm-9">₹<%= order.grandTotal %></div>
            </div>
            <hr />
            <a href="/orders" class="btn btn-primary">View All Orders</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/footer.ejs') %>
