<%- include('../layouts/header.ejs') %>

<section class="checkout_area section-margin--small">
  <div class="container">
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-8">
          <h3>Select Address</h3>
          <div  class="modal fade mt-5" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addressModalLabel">Add Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/addOrderAddress" class="contact_form">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter the Name" required>
          </div>
          <div class="form-group">
            <label for="housename">House Name</label>
            <input type="text" class="form-control" id="housename" name="housename" placeholder="Enter the House Name" required>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter the City" required>
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" name="state" placeholder="Enter the State" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter the Phone" required>
          </div>
          <div class="form-group">
            <label for="pincode">Pincode</label>
            <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Enter the Pincode" required>
          </div>
          <button type="submit" class="btn btn-primary">Add Address</button>
        </form>
      </div>
    </div>
  </div>
</div>

          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addressModal">
            Add Address
          </button>
          
          <br />
          <h6>or</h6>
          
          <form class="row contact_form mt-3" id="checkoutForm">
            <div class="col-md-12 form-group mb-0">
              <div class="address-cards">
                <% address.address.forEach((address) => { %>
                <div class="address-card">
                  <input type="radio" name="address" id="address1" value="<%= address.name %>,<%= address.housename %> <%=
                  address.city %> <%= address.state %> <%= address.phone %>
                  <%= address.pincode %>"  required/>
                  <label for="address1"
                    ><%= address.name %> <%= address.housename %> <%=
                    address.city %> <%= address.state %> <%= address.phone %>
                    <%= address.pincode %></label
                  >
                </div>
                <% }) %>
              </div>
              <textarea
                class="form-control"
                name="orderNote"
                id="message"
                rows="1"
                placeholder="Order Notes"
              ></textarea>
            </div>
            <!-- End new address section -->
        </div>

        <div class="col-lg-4">
          <div class="order_box">
            <h2>Your Order</h2>
            <%if(carts){%>
              <% carts.items.forEach(item => {%>
                <input type="hidden" name="product_Id" id="product_Id" value='<%=item.product_Id._id%>'>
                <input type="hidden" name="product_quantity" id="product_quantity" value='<%=item.quantity%>'>
                <input type="hidden" name="amount" id="amount" value='<%=item.product_Id.price%>'>
                <ul class="list">
                  <li>
                    <a href="#"><h4>Product <span>Total</span></h4></a>
                  </li>
                  <li>
                    <a href="#"><%= item.product_Id.name%><span class="middle">x <%= item.quantity %></span><span class="last"><%= item.total %></span></a>
                  </li>
                </ul>
              <%}) %>
            <%}%>
            <%if(carts){%>
            <input type="hidden" name="product_grandTotal" id="product_grandTotal" value='<%= carts.grandTotal%>'>
            <ul class="list list_2">
              <li>
                <a href="#">Total <span><%= carts.grandTotal%></span></a>
              </li>
            </ul>
            <% } %>
            <div class="payment_options">
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option6" name="selector" value="Razorpay" />
                  <label for="f-option6">RazorPay</label>
                  <img src="img/product/card.jpg" alt="" />
                  <div class="check"></div>
                </div>
                <p>
                  Pay via RazorPay; you can pay with your credit card if you don’t
                  have a RazorPay account.
                </p>
              </div>
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option7" name="selector" value="COD" required/>
                  <label for="f-option7">Cash on Delivery</label>
                  <div class="check"></div>
                </div>
                <p>
                  Pay with cash when the product is delivered to your doorstep.
                </p>
              </div>
             
            </div>
            <div class="text-center">
              <button id="rzp-button1" class="btn btn-primary" type="submit">Proceed to payment</button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->


<%- include('../layouts/footer.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
 $('#checkoutForm').submit((e) => {
  let address = $('input[name=address]:checked').val()
  let selector = $('input[name=selector]:checked').val()
  let product_grandTotal = document.getElementById('product_grandTotal').value
  let orderNote = document.getElementById('message').value
  event.preventDefault()
  $.ajax({
    url:'/placeOrder',
    method:'post',
    data:{
      address,
      selector,
      product_grandTotal,
      orderNote
    },
    success:(response =>{
      if(response.codSuccess === true){
        window.location = '/orderPlaced'
      }else{
        razorpayPayment(response.order)
      }
    })
  })
 })
 function razorpayPayment(order){
  var options = {
    "key": '<%= process.env.paymentId%>', // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Aroma Store",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
      console.log(response)
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
 rzp1.open();
 }
 

 function verifyPayment(payment,order){
  $.ajax({
    url:'/verifyPayment',
    method:'post',
    data:{
      payment,
      order
    },
    success:(response => {
      if(response.success === true){
        window.location = '/orderPlaced'
      }else{
        alert('Payment Failed')
      }
    })
  })
 }
  </script>
